<app-menu></app-menu>
<div class="row mt-5"></div>

<div class="row mb-3 justify-content-center">
  <h2>Planning des missions</h2>
</div>

  <div class="cal-month-view" role="grid">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-light"  mwlCalendarPreviousView  [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
            &lt;&lt;
          </div>
          <div class="btn btn-light"  mwlCalendarPreviousView  [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
            &lt;
          </div>
          <div>
          Mars 2020
          </div>
          <div class="btn btn-light" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
          &gt;
          </div>
          <div class="btn btn-light" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
            &gt;&gt;
            </div>
        </div>
      </div>
  </div>

</div>
<div class="cal-month-view" role="grid">
  <mwl-calendar-month-view-header>
    <div class="cal-cell cal-past cal-weekend ng-star-inserted" role="columnheader" tabindex="0">
      Lundi
    </div><div class="cal-cell cal-today ng-star-inserted" role="columnheader" tabindex="0">
      Mardi
    </div><div class="cal-cell cal-future ng-star-inserted" role="columnheader" tabindex="0">
      Mercredi
    </div><div class="cal-cell cal-future ng-star-inserted" role="columnheader" tabindex="0">
      Jeudi
    </div><div class="cal-cell cal-future ng-star-inserted" role="columnheader" tabindex="0">
      Vendredi
    </div><div class="cal-cell cal-future ng-star-inserted" role="columnheader" tabindex="0">
      Samedi
    </div><div class="cal-cell cal-future cal-weekend ng-star-inserted" role="columnheader" tabindex="0">
      Dimanche
    </div>

</mwl-calendar-month-view-header>

<div class="cal-days">
    <!----><div class="ng-star-inserted">
      <div class="cal-cell-row">
        <!----><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-past cal-weekend cal-in-month cal-has-events ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->


</mwl-calendar-month-cell>

<mwl-calendar-month-cell class="cal-cell cal-day-cell cal-today cal-in-month cal-has-events ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="
    Monday March 2,
    3 events,
     click to expand
  ">
    <span aria-hidden="true">
      <!----><span class="cal-day-badge ng-star-inserted">3</span>
      <span class="cal-day-number">2</span>
    </span>
  </div>
  <!----><div class="cal-events ng-star-inserted">
    <!----><div class="cal-event cal-draggable ng-star-inserted" dragactiveclass="cal-drag-active" mwldraggable="" style="background-color: rgb(173, 33, 33);" aria-hidden="true"></div><!----><div class="cal-event ng-star-inserted" dragactiveclass="cal-drag-active" mwldraggable="" style="background-color: rgb(227, 188, 8);" aria-hidden="true"></div><!----><div class="cal-event cal-draggable ng-star-inserted" dragactiveclass="cal-drag-active" mwldraggable="" style="background-color: rgb(227, 188, 8);" aria-hidden="true"></div><!---->
  </div>

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month cal-has-events ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="
    Tuesday March 3,
    One event,
     click to expand
  ">
    <span aria-hidden="true">
      <!----><span class="cal-day-badge ng-star-inserted">1</span>
      <span class="cal-day-number">3</span>
    </span>
  </div>
  <!----><div class="cal-events ng-star-inserted">
    <!----><div class="cal-event cal-draggable ng-star-inserted" dragactiveclass="cal-drag-active" mwldraggable="" style="background-color: rgb(173, 33, 33);" aria-hidden="true"></div><!---->
  </div>

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Wednesday March 4">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">4</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Thursday March 5">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">5</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Friday March 6">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">6</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-weekend cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Saturday March 7">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">7</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell>
      </div>
      <mwl-calendar-open-day-events dragoverclass="cal-drag-over" mwldroppable="" class="ng-tns-c2-8">
<!---->
<!---->
  <!---->

</mwl-calendar-open-day-events>
    </div><div class="ng-star-inserted">
      <div class="cal-cell-row">
        <!----><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-weekend cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Sunday March 8">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">8</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Monday March 9">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">9</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Tuesday March 10">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">10</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Wednesday March 11">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">11</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Thursday March 12">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">12</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Friday March 13">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">13</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-weekend cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Saturday March 14">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">14</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell>
      </div>
      <mwl-calendar-open-day-events dragoverclass="cal-drag-over" mwldroppable="" class="ng-tns-c2-1">
<!---->
<!---->
  <!---->

</mwl-calendar-open-day-events>
    </div><div class="ng-star-inserted">
      <div class="cal-cell-row">
        <!----><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-weekend cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Sunday March 15">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">15</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Monday March 16">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">16</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Tuesday March 17">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">17</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Wednesday March 18">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">18</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Thursday March 19">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">19</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Friday March 20">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">20</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-weekend cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Saturday March 21">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">21</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell>
      </div>
      <mwl-calendar-open-day-events dragoverclass="cal-drag-over" mwldroppable="" class="ng-tns-c2-2">
<!---->
<!---->
  <!---->

</mwl-calendar-open-day-events>
    </div><div class="ng-star-inserted">
      <div class="cal-cell-row">
        <!----><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-weekend cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Sunday March 22">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">22</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Monday March 23">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">23</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Tuesday March 24">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">24</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Wednesday March 25">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">25</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Thursday March 26">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">26</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Friday March 27">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">27</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-weekend cal-in-month cal-has-events ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="
    Saturday March 28,
    One event,
     click to expand
  ">
    <span aria-hidden="true">
      <!----><span class="cal-day-badge ng-star-inserted">1</span>
      <span class="cal-day-number">28</span>
    </span>
  </div>
  <!----><div class="cal-events ng-star-inserted">
    <!----><div class="cal-event ng-star-inserted" dragactiveclass="cal-drag-active" mwldraggable="" style="background-color: rgb(30, 144, 255);" aria-hidden="true"></div><!---->
  </div>

</mwl-calendar-month-cell>
      </div>
      <mwl-calendar-open-day-events dragoverclass="cal-drag-over" mwldroppable="" class="ng-tns-c2-3">
<!---->
<!---->
  <!---->

</mwl-calendar-open-day-events>
    </div><div class="ng-star-inserted">
      <div class="cal-cell-row">
        <!----><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-weekend cal-in-month cal-has-events ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="
    Sunday March 29,
    One event,
     click to expand
  ">
    <span aria-hidden="true">
      <!----><span class="cal-day-badge ng-star-inserted">1</span>
      <span class="cal-day-number">29</span>
    </span>
  </div>
  <!----><div class="cal-events ng-star-inserted">
    <!----><div class="cal-event ng-star-inserted" dragactiveclass="cal-drag-active" mwldraggable="" style="background-color: rgb(30, 144, 255);" aria-hidden="true"></div><!---->
  </div>

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month cal-has-events ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="
    Monday March 30,
    One event,
     click to expand
  ">
    <span aria-hidden="true">
      <!----><span class="cal-day-badge ng-star-inserted">1</span>
      <span class="cal-day-number">30</span>
    </span>
  </div>
  <!----><div class="cal-events ng-star-inserted">
    <!----><div class="cal-event ng-star-inserted" dragactiveclass="cal-drag-active" mwldraggable="" style="background-color: rgb(30, 144, 255);" aria-hidden="true"></div><!---->
  </div>

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-in-month cal-has-events ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="
    Tuesday March 31,
    One event,
     click to expand
  ">
    <span aria-hidden="true">
      <!----><span class="cal-day-badge ng-star-inserted">1</span>
      <span class="cal-day-number">31</span>
    </span>
  </div>
  <!----><div class="cal-events ng-star-inserted">
    <!----><div class="cal-event ng-star-inserted" dragactiveclass="cal-drag-active" mwldraggable="" style="background-color: rgb(30, 144, 255);" aria-hidden="true"></div><!---->
  </div>

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-out-month cal-has-events ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="
    Wednesday April 1,
    One event,
     click to expand
  ">
    <span aria-hidden="true">
      <!----><span class="cal-day-badge ng-star-inserted">1</span>
      <span class="cal-day-number">1</span>
    </span>
  </div>
  <!----><div class="cal-events ng-star-inserted">
    <!----><div class="cal-event ng-star-inserted" dragactiveclass="cal-drag-active" mwldraggable="" style="background-color: rgb(30, 144, 255);" aria-hidden="true"></div><!---->
  </div>

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-out-month cal-has-events ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="
    Thursday April 2,
    One event,
     click to expand
  ">
    <span aria-hidden="true">
      <!----><span class="cal-day-badge ng-star-inserted">1</span>
      <span class="cal-day-number">2</span>
    </span>
  </div>
  <!----><div class="cal-events ng-star-inserted">
    <!----><div class="cal-event ng-star-inserted" dragactiveclass="cal-drag-active" mwldraggable="" style="background-color: rgb(30, 144, 255);" aria-hidden="true"></div><!---->
  </div>

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-out-month cal-has-events ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="
    Friday April 3,
    One event,
     click to expand
  ">
    <span aria-hidden="true">
      <!----><span class="cal-day-badge ng-star-inserted">1</span>
      <span class="cal-day-number">3</span>
    </span>
  </div>
  <!----><div class="cal-events ng-star-inserted">
    <!----><div class="cal-event ng-star-inserted" dragactiveclass="cal-drag-active" mwldraggable="" style="background-color: rgb(30, 144, 255);" aria-hidden="true"></div><!---->
  </div>

</mwl-calendar-month-cell><mwl-calendar-month-cell class="cal-cell cal-day-cell cal-future cal-weekend cal-out-month ng-star-inserted" dragoverclass="cal-drag-over" mwldroppable="" tabindex="0">
<!---->
<!---->
  <div class="cal-cell-top ng-star-inserted" aria-label="Saturday April 4">
    <span aria-hidden="true">
      <!---->
      <span class="cal-day-number">4</span>
    </span>
  </div>
  <!---->

</mwl-calendar-month-cell>
      </div>
      <mwl-calendar-open-day-events dragoverclass="cal-drag-over" mwldroppable="" class="ng-tns-c2-4">
<!---->
<!---->
  <!---->

</mwl-calendar-open-day-events>
    </div>
  </div>
</div>


