    <mdb-card class="animated zoomIn" >
      <mdb-card-header class="header">
        <h4 class="text-center">Gestion des Mission</h4>
          <img class="center" src="assets/images/startup.svg" height="90" width="90">
          <h5 class="text-center">Authentification</h5>
      </mdb-card-header>
      <mdb-card-body>
        <form>
          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="text" [validateSuccess]="false" data-error="Une adresse email est requise" id="defaultForm-email" class="form-control" name="email" mdbInputDirective [(ngModel)]="collegue.email" placeholder="Email" required>
          </div>

          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" id="defaultForm-pass" [validateSuccess]="false"  data-error="Un mot de passe est requis" name="motDePasse" class="form-control" mdbInputDirective [(ngModel)]="collegue.motDePasse" placeholder="Mot de passe" required>
          </div>

          <div class="text-center">
            <input type="submit" mdbBtn color="primary" sclass="waves-light" mdbWavesEffect value="Se connecter" (click)="connecter()">
          </div>

          <div *ngIf="err" class="text-danger">
            Oops, les informations saisies ne permettent pas de vous authentifier.
          </div>
        </form>
      </mdb-card-body>
    </mdb-card>

