<!-- Main -->
<main>

    <div class="container" style="height: 500px; margin-bottom: 30">
        <div class="row mt-5 pt-5">
            <div class="col-md-4"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form class="form-inline" #etatForm="ngForm">
                            <p class="text-danger" *ngIf="rectiMission.dateDebut == rectiMission.dateFin">Vous avez
                                sélectionné deux dates identiques !</p>

                            <!-- Date de début -->
                            <div class="form-group mb-2">
                                <label for="datedebut"> Date de début : </label><input type="date" class="form-control"
                                    id="datedebut" name="dateDebut" [(ngModel)]="rectiMission.dateDebut" required
                                    #etatDeb="ngModel">
                                <p class="text-danger" *ngIf="etatDeb.invalid">Veuillez sélectionner une date de début
                                </p>

                            </div>


                            <!-- Date de fin -->
                            <div class="form-group mx-sm-4 mb-2 text-dark">
                                <label for="entrerdatefin">Date de fin :</label>
                                <input type="date" class="form-control" id="entrerdatefin" name="dateFin"
                                    [(ngModel)]="rectiMission.dateFin" required #etatFin="ngModel">
                                <p class="text-danger" *ngIf="etatFin.invalid">Veuillez sélectionner une date de fin</p>
                            </div>

                            <!-- Nature -->
                            <div class="form-group mx-sm-5 mb-2">
                                <label for="nature">Nature :</label>
                                <select class="custom-select" name="nature" id="nature" [(ngModel)]="natureId" required
                                    #etatNat="ngModel">
                                    <option *ngFor="let nature of listenature" value="{{nature.id}}">{{nature.libelle}}
                                    </option>
                                </select>
                                <p class="text-danger" *ngIf="etatNat.invalid">Veuillez
                                    sélectionner une nature</p>
                            </div>

                            <!-- Ville de départ -->
                            <div class="form-group mb-2">
                                <label for="villedepart">Ville de départ :</label>
                                <input type="text" class="form-control" id="villedepart" name="villeDepart"
                                    [(ngModel)]="rectiMission.villeDepart" required minlength="3" #etatDep="ngModel">
                                <p class="text-danger" *ngIf="etatDep.invalid && etatDep.dirty">Vous devez saisir un nom
                                    d'au moins 3
                                    lettres</p>
                            </div>

                            <!-- Ville d'arrivée -->
                            <div class="form-group mb-2 text-dark">
                                <label for="villearrivee">Ville d'arrivée :</label>
                                <input type="text" class="form-control" id="villearrivee" name="villeArrivee"
                                    [(ngModel)]="rectiMission.villeArrivee" required minlength="3" #etatArr="ngModel">
                                <p class="text-danger" *ngIf="etatArr.invalid && etatArr.dirty">Vous devez saisir un nom
                                    d'au moins 3
                                    lettres </p>
                            </div>

                            <!-- Transport -->
                            <div class="form-group mx-sm-5 mb-2">
                                <label for="transport">Transport :</label>
                                <select class="custom-select" name="transport" id="transport" [(ngModel)]="transportId"
                                    required #etatTrans="ngModel">
                                    <option *ngFor="let transport of listetransport" value="{{transport.id}}">
                                        {{transport.libelle}} </option>
                                </select>
                                <p class="text-danger" *ngIf="etatTrans.invalid">Veuillez
                                    sélectionner un transport</p>
                            </div>

                            <!-- Estimation prime-->
                            <div class="col-md-5 offset-1 text-dark">Estimation prime</div>
                            <div class="col-md-5 ">value</div>

                            <!-- Bouton abandonner-->
                            <div class="col-md-5 text-right ">
                              <button type="button" class="btn btn-danger"  (click)="activeModal.close('Close click')">Annuler</button>
                            </div>
                            <!-- Bouton valider-->
                            <div class="col-md-6 text-left">
                                <button type="button" class="btn btn-success mx-sm-3 mb-2"
                                    [disabled]="etatForm.invalid " (click)="modifMission()">Valider</button>
                            </div>

                        </form>
                        <!-- Message d'erreur lors de la sauvegarde des données-->
                        <div *ngIf="messageErreur != null" class="alert alert-danger" role="alert">
                            {{messageErreur}}
                        </div>

                        <!-- Message de confirmation de la sauvegarde des données-->
                        <div *ngIf="messageOk != null" class="alert alert-success" role="alert">
                            {{messageOk}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
