<!--Navbar-->
<mdb-navbar SideClass="navbar fixed-top-center navbar-expand-sm navbar-dark blue scrolling-navbar ie-nav" [containerInside]="true">
    <logo>
        <a class="logo navbar-brand" href="#"><strong>LOGO</strong></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link">Accueil</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">Gestion des missions <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">Planning des missions</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">Primes</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link">Saisie note de frais</a>
            </li>
        </ul>       
    </links>
</mdb-navbar>