<main>
<div class="row">
    <table class="table table-striped text-center">
     <thead>
       <tr><th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
         <th scope="col">Nature</th>         
         <th scope="col">Départ</th>
         <th scope="col">Arrivée</th>
         <th scope="col">Transport</th>
         <th scope="col">Actions</th>
       </tr>
     </thead>
     <tbody  >
       
   <td *ngIf="nature.estPrime else prime">Oui</td>
   <ng-template #prime>
   <td>Non</td>
   </ng-template>
         <td *ngIf="nature.tjm != 0 else tjm">{{nature.tjm}}</td>
         <ng-template #tjm>
   <td>-</td>
   </ng-template>
   <tr *ngFor="let nature of listeNature">
         <td>{{nature.libelle}}</td>
         <td *ngIf="nature.estFacture else facture">Oui</td>
   
   <ng-template #facture>
   <td>Non</td>
   </ng-template>
         <td *ngIf="nature.valeurPrime != 0 else valeurPrime">{{nature.valeurPrime}}</td>
         <ng-template #valeurPrime>
   <td>-</td>
   </ng-template>
         <td>
         <img src="../assets/images/edit-symbol.png" width="20px" (click)="openModifier(nature.id)">
   
         <img src="../assets/images/bin.png" width="20px" >
         </td>
       </tr>
     </tbody>
   </table>
   
   
   
   </div>
   <div class="row">
   <div class="col-3 offset-8 text-right pt-1">
     Ajouter une nature de mission
   </div>
   <div class="col-1 text-right">
   <button type="button" class="btn btn-primary" (click)="openCreate()">
   +
   </button>
   </div>
   </div>
   {{msgRetour}}
</main>