<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
<!--<nav class="navbar navbar-light nav justify-content-center" style="background-color: #e3f2fd;">-->

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"> &#9776; </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="nav justify-content-center">
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active" routerLink="/accueil" (click)="isMenuCollapsed = true">Accueil</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/gestion-mission" (click)="isMenuCollapsed = true">Gestion des missions</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/demande-mission" (click)="isMenuCollapsed = true">Planning des missions</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/primes" (click)="isMenuCollapsed = true">Primes</a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" class="nav-link" routerLink="/ligne-frais" (click)="isMenuCollapsed = true">Saisie note de frais</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a routerLinkActive="active" class="nav-link" routerLink="/nature" (click)="isMenuCollapsed = true">Nature des missions</a>
        </li>
        <li class="nav-item" *ngIf="isManager">
          <a routerLinkActive="active" class="nav-link" routerLink="/validation" (click)="isMenuCollapsed = true">Validation des missions</a>
        </li>
      </ul>
    </div>
    <app-collegue></app-collegue>
</nav>


